﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorInfo</title>
</head>
<body>
    <h1>Supervisors</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        @foreach (Supervisor sup in Model)
        {
            <tr>
                <td>@sup.Id</td>
                <td> @sup.Name</td>
            </tr>
        }
    </table>
    <br />
</body>
</html>
